<div class="timeselect">
    <mat-select (selectionChange)="selectHours($event)" [value]="selectedHours">
        <mat-option *ngFor="let hour of hours; let i = index" [value]="i + 1">
          {{ formatTime(i + 1)}}
        </mat-option>
    </mat-select>
    :
    <mat-select (selectionChange)="selectMinutes($event)" [value]="selectedMinutes">
        <mat-option *ngFor="let minute of minutes; let i = index" [value]="i">
          {{ formatTime(i) }}
        </mat-option>
    </mat-select>
    :
    <mat-select (selectionChange)="selectSeconds($event)" [value]="selectedSeconds">
        <mat-option *ngFor="let second of seconds; let i = index" [value]="i">
          {{ formatTime(i) }}
        </mat-option>
    </mat-select>

    <mat-select (selectionChange)="selectAMPM($event)" [value]="'AM'">
        <mat-option *ngFor="let timeSelect of ['AM', 'PM']" [value]="timeSelect">
          {{ timeSelect }}
        </mat-option>
    </mat-select>
</div>