<form [formGroup]="myForm">
  <div class="cvas">
    <div class="time-selector">
     <mat-select (selectionChange)="changeTime($event)" [value]="selectedTime">
        <mat-option *ngFor="let time of selectors" [value]="time.id">
          {{ time.display }}
        </mat-option>
      </mat-select>
    </div>
    <mat-card>
        <mat-card-content>
          <app-datetime [timeSelector]="selectedTime" formControlName="datetime"></app-datetime>
        </mat-card-content>
    </mat-card>
  </div>
  <p style="width:200px;">{{'{ "datetime": "' + myForm.value.datetime + '" }'}}</p>
</form>
