<div class="datetime" [formGroup]="localForm">
<!--     <app-time formControlName="time" (ngModelChange)="updateTime($event)"></app-time> -->
<!--     <app-basicinput (ngModelChange)="updateTime($event)" formControlName="time"></app-basicinput> -->    
    <app-timeslider formControlName="time" (ngModelChange)="updateTime($event)"></app-timeslider>
    <mat-form-field>
      <input matInput (dateChange)="updateDate($event)" formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>


